<div id="event-section">
    <div class="selected-event">
        <div id="artist-icon">
            <img src="{{artist_picture}}">
        </div>
        <h1 id="artist-name">{{artist}}</h1>
        <div id="location-date">
            <h3 id="concert-location">{{location}}</h3>
            <h3 id="concert-date">{{duration}}</h3>
        </div>
        <p id="concert-description">A super cool event featuring one of your top 50 artists on Spotify! Click below to
        buy tickets :-)</p>
        <div class="search-btn">
            <a href="find-event.html">
                <button>TICKETS</button>
            </a>
        </div>
    </div>
</div>
