<!DOCTYPE html>
<html>
    <head>
        <title>beatmaps</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" rel="stylesheet">
        <!-- Adobe type kit: domus titling and sofio-pro -->
        <link href="https://use.typekit.net/fjg0ajy.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="index.js" charset="utf-8"></script>
    </head>

    <body>
        <div class="nav">
            <img src="images/beatmap-logo.svg">
        </div>
    
    {{{body}}}

    </body>
</html>