<!DOCTYPE html>
<html>
<head>
    <title>beatmaps</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">
    <!-- Adobe type kit: domus titling and sofio-pro -->
    <link href="https://use.typekit.net/fjg0ajy.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="index.js" charset="utf-8"></script>
    <script src="/event_details.js" charset="utf-8"></script>
</head>

<body>
<div class="nav">
    <a href="/">
    <img src="images/beatmap-logo.svg">
    </a>
</div>

{{{body}}}

</body>
</html>
