{{> search user}}
{{#unless init}}

{{#if results}}
 <section id="find-event">
    <section id='results'>
        <div id="results-section">
            {{#each city}}
                {{>city}}
            {{/each}}
        </div>
    </section>
</section>
{{else}}
{{/if}}
{{/unless}}
