<section id="auth">
    <h1>just a few clicks away from being on your way</h1>
    <div class="btn">
        <a href="/login">
            <button type="button">CONNECT YOUR SPOTIFY PROFILE</button>
        </a>
    </div>
    <p>spotify will request access to your email, profile, and top items ;)</p>
</section>
