<section id="find-event">
    <div id="map-section">
        <div id="map"></div>
        <div id="map-filters">
            <div class="text-input" id="location-container">
                <p>where are you?</p>
                <div>
                    <input class="type-input" id="location-input" placeholder="city, town or zip" type="text">
                </div>
            </div>
            <div class="text-input" id="time-frame">
                <p>for how long?</p>
                <div>
                    <input class="type-input" id="time-start" placeholder="set a start" type="date">
                    <input class="type-input" id="time-end" placeholder="sent an end" type="date">
                </div>
            </div>
            <div class="text-input" id="radius">
                <p>how far do you wanna drive?</p>
                <div id="radius-containter">
                    <input class="type-input" id="radius-input" type="text" value="50">
                    <input id="radius-slider" type="range" max="300">
                </div>
            </div>
            <div class="search-btn">
                <a href="/result">
                    <button id="search_button">SEARCH</button>
                </a>
            </div>
        </div>
    </div>
     <div id="shadow-top"> </div>
    <div id="results-section">
        {{!--        {{log "l,aowads"}}--}}
        {{!--        {{log city}}--}}
        {{#each city}}
        {{!--        {{log "help"}}--}}
        {{!--        {{log this}}--}}
            {{>city this}}
        {{/each}}
    </div>
    <!-- <div id="shadow-bottom">a</div> -->
</section>
